<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Use the following defaultProxy AND replace localhost with the 
  machine name so fiddler can  intercept the calls. Fiddler listens on port 8888-->
  <!--<system.net>-->
  <system.net xdt:Transform="Insert">
    <defaultProxy>
      <!--If Fiddler is not running and you are requesting WebAPI through your local IIS server
      using the machine name (instead of localhost), you will get the following error
      No connection could be made because the target machine actively refused it 127.0.0.1:8888-->
      <proxy usesystemdefault="False"
             bypassonlocal="False"
             proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>

</configuration>