@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>Timeout Error</h2>
</head>
<body>
    <h2>
        Your request has timed out. 
    </h2>
<p>For this error page to be displayed, you need the following:</p>
<ol>
	<li>Add&nbsp;&nbsp; &lt;customErrors mode=&quot;On&quot; /&gt;&nbsp; to the application root 
	web.config.</li>
	<li>For IE, the error message must be at least 500 bytes, or you get the 
	following friendly IE error.<br><br>
	<h2>The website cannot display the page</h2>
	<br/>HTTP 500
&nbsp;<h3>Most likely causes:</h3>
	<ul>
		<li >The website is under maintenance.</li>
		<li> The website has a programming error.</li>
	</ul>
	</li>
</ol>
<!--
    Use the following command to install .Net 4.5 on Win08/R2 
    %windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis -i
-->

</body>
</html>